[submodule "sales-platform-front"]
	path = sales-platform-front
	url = https://github.com/b4kii/sales-platform-front.git
[submodule "sales-platform-api"]
	path = sales-platform-api
	url = https://github.com/patb0/sales-platform-api.git
